.env
.venv
.envx
.cache/
__pycache__
*.sqlite3
*.pyc
media/
uploads
.babelrc
*.mo
.pylintrc
.editorconfig
.pytest_cache/
.vscode
package-lock.json

venv
env
*.ipynb_checkpoints
*.ipynb

logs/
*.log

prod.py
local.py
.devcontainer
.erlang.cookie
rabbitmq/etc
rabbitmq/data
celerybeat-schedule
samplecodes
setup.cfg
minion.json

secret_notes
zsh-container
.dockerignore
docker-compose-local.override.yml
docker-compose.override.yml
migrations/
*.db
scripts.py
postgresql
static
mysql
mediafiles
