version: "3.7"
services:
  app:
    container_name: ${PROJECT_NAME}-app
    image: "${PROJECT_NAME}:latest"
    build: .
    stdin_open: true
    tty: true
    volumes:
      - ./application:/app
    env_file:
      - ./.env
    # ports:
    #   - 8001:20001
  nginx:
    container_name: ${PROJECT_NAME}-nginx
    image: nginx:1.19.7
    restart: always
    volumes:
      - ./logs/:/var/log/nginx/
      - ./application/assets:/usr/src/app/staticfiles
      - ./application/mediafiles:/usr/src/app/mediafiles
      - ./nginx/conf:/etc/nginx/conf.d
      #- ./nginx/ssl:/etc/nginx/ssl
    ports:
      - 443:80
    depends_on:
      - app